name: Lighthouse
on: [push]
jobs:
  build:
    name: Build Hugo site
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: CodeIT
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          path: "CodeIT"
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true
      - name: Build static pages
        run: hugo --source=exampleSite -v --gc
      - name: Archive site artifacts
        uses: actions/upload-artifact@v2
        with:
          name: blog-artifacts
          path: |
            CodeIT/exampleSite/public
            CodeIT/lighthouserc.js
          if-no-files-found: error
  light-house-ci:
    name: Run LightHouse CI
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Download site artifacts
        uses: actions/download-artifact@v2
        with:
          name: blog-artifacts
      - name: Use Node.js 15.x
        uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - name: Run the Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.6.x
          lhci autorun
